* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html {
    font-size: 16px;
}

.header {
    padding: 0.8rem;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 45%,#72aa00 100%);
}

.nav-bar {
    color: white;
    width: 100%;
    display: flex;
    padding: 0 1rem;
}

.search-input {
    width: 25%;
    margin-right: 1rem;
    display: flex;
}

.search-input input {
    padding: 0 0.5rem;
    width: 65%;
    border: none;
}

.search-input button {
    background-color: #008CBA;
    color: white;
    border: none;
    width: 35%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.student-id-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-links li{
    display: inline-block;
}

.check-student-id {
    width: 70%;
    margin: 0 auto 3rem auto;
}

.check-student-id h1 {
    padding: 1.5rem 0;
    font-size: 3rem;
    font-weight: normal;
}

.check-student-id__search-container {
    background-color: #FFCC99;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 1rem;
}

.check-student-id__search-container input {
    width: 80%;
    padding: 1rem 0.4rem;
    outline: none;
    border: 1px solid lightgrey;
}

.search-button, .locate-me-button {
    background-color: #008CBA;
    color: white;
    font-size: 1.3rem;
    width: 12%;
    min-width: 150px;
    padding: 1.2rem 0;
    outline: none;
    border: 1px solid #007095;
}

.search-button {
    margin-left: 2rem;
}

.location-option {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.check-student-id__search-container p {
    display: inline-block;
    font-size: 1.4rem;
}

.locate-me-button {
    margin-left: 3rem;
    width: 15%;
}

/* booking */
.booking-section {
    padding: 1rem 0;
    width: 64%;
    margin: 0 auto 8rem auto;
}

.available-booking-option {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */

}

.booking-logo {
    color: midnightblue;
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: 0.5rem;
}

.booking-logo span {
    color: #008CBA;
}

.booking-background {
    background: -webkit-linear-gradient(top,#ffca56 0,#ffbb39 100%);
    display: flex;
    padding: 0.25rem;
    padding-right: 0.6rem;
    border-radius: 2px;
}

.available-booking-option input {
    outline: none;
    padding: 0.8rem 0.3rem;
    border: 1px inset lightgrey;
}

.booking-dates {
    display: flex;
    width: 40%;
    margin: 0 0.3rem;
    /* border: 1px solid red; */
}

.booking-dates input {
    width: 50%;
    border: 1px inset lightgrey;
}

.booking-dates input::placeholder {
    color: #0896ff;
    font-weight: 500;
}

.booking-buttons {
    display: flex;
    /* justify-content: spa; */
    width: 30%;
    border: none;
}

.booking-buttons button {
    background-color: transparent;
    width: 100%;
    padding: 0.8rem 0;
    border: none;
}

.booking-buttons button.search {
    background-color: #0896ff;
    color: white;
    border: 1px solid white;
}

.booking-buttons button.guest {
    color: #c9960c;
    margin-left: 0.5rem;
    border: 1px outset white;
}

.booking-places-container {
    width: 70%;
    padding: 0.3rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.city-image {
    width: 24%;
    padding: 0.4rem;
    position: relative;
    border-radius: 3px;
}

.city-image.trondheim {
    background-image: url("https://cf.bstatic.com/xdata/images/city/max300/740935.webp?k=d90fa40b53bd16d8d06214496648ebbbccb96cff3946793c569e50103d363ec1&amp;o=");
    background-size: contain;
}

.city-image.sixt {
    background-image: url("https://cf.bstatic.com/xdata/images/city/max300/844107.webp?k=d2e327bd37d6b8a5e3b3f8f0a4c218387781b80dbbd5adb2d9e56d10f46c1659&amp;o=");
    background-size: contain;
}

.city-image.bransgore {
    background-image: url("https://cf.bstatic.com/xdata/images/city/max300/879409.webp?k=5ae0075dd2c4eb38ba197d88f436067ab78e7701b55ba1ab6699fdce795425ca&amp;o=");
    background-size: contain;
}

.city-label {
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-shadow: 1px 1px 1px #000;
    width: 75%;
    min-width: 150px;
    padding: 0.3rem ;
}

.city-label h4 {
    font-size: 1.3rem;
}

.city-label span {
    position: relative;
    top: 0.1rem;
}

.city-label p {
    font-size: 1.1rem;
}

.city-image figcaption {
    color: #989898;
    font-size: 0.9rem;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
}

.city-list {
    background-color: #edf1f6;
    color: #17498e;
    margin-left: 0.7rem;
    width: 24%;
    position: relative;
}

.city-list li {
    list-style: none;
    font-size: 1.1rem;
}


.city-list li span.from {
    font-size: 0.9rem;
    color: #989898;
    position: absolute;
    right: 0.3rem;
}

.city-list button {
    background-color: #0896ff;
    color: white;
    position: absolute;
    width: 100%;
    padding: 0.5rem 0;
    bottom: -2.7rem;
    border: 1px outset white;
}

/* popular postcodes */

.popular-student-id {
    width: 70%;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

.popular-student-id h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.popular-student-id p {
    background-color: #dddddd;
    color: #008cba;
    display: inline-block;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem 0.1rem;
    margin: 0.2rem 0.3rem;
    /* min-width: 150px; */
    text-align: center;
}

.popular-student-id p.large {
    font-size: 2.5rem;
    margin: 0.2rem 0.4rem;
    padding: 0.5rem 0.5rem;
}

/* page description */
.page-description {
    background-color: #f2f2f2;
    color: #333333;
    font-size: 1.2rem;
    width: 72%;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto 4rem auto;
    line-height: 2.8;
    border: 1px solid #d8d8d8;
}

.page-description .bold-text {
    font-weight: 900;
}

/* footer section */
.top-footer {
    background-color: #333333;
    color: white;
    /* border: 1px solid black; */
}

.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 1rem 0 2.8rem 0;
    margin: 0 auto;
}

.footer-section ul {
    list-style: none;
}

.footer-section li {
    font-size: 1.2rem;
    line-height: 1.6;
}

.bottom-footer {
    padding: 1rem 0 2rem 0;
    text-align: center;
}

.bottom-footer p,
.bottom-footer aside {
    font-size: 1.2rem;
    line-height: 2;
}

.bottom-footer .blue-text {
    color: cornflowerblue;
    
}



